<header>
  <a href="/index" class="page-header">
      <h1>Online Library</h1>
  </a>
  <a href="/newConnection">Start a New Connection</a>
  <a href="/signIn">Login</a>
  <a href="/registration_page">Sign Up</a>
</header>
