<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online-Library</title>
    <link href="/assets/stylesheets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <% include ./partials/navigation.ejs %>

    <main>
      <section>
        <h2>Contact Page</h2>
        <p>Queries regarding the webpage directed to the person suggested below.</p>
        <p>Contact Name: Neha Lakshmi Debbad</p>
        <p>Email ID: nehadebbadg@gmail.com</p>
      </section>
    </main>

    <% include partials/footer.ejs %>
  </body>
</html>
