<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online-Library</title>
    <link href="/assets/stylesheets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <% include partials/header.ejs %>
    <% include partials/navigation.ejs %>

    <main>
      <section>
        <h1>404</h1>
        <h2>Page Not Found</h2>
      </section>

    </main>

    <% include partials/footer.ejs %>

    <script>

    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }

    </script>

  </body>

  </html>
