<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online-Library</title>
    <link href="/assets/stylesheets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/newConnheader.ejs %>
    <% include partials/navigation.ejs %>

    <main>
      <section>
        <table style="margin-top:20px">
            <form class="btn btn-create" action="/newConnection" method="post">
              <div class="container">
                <label for="firstname"><b>Topic:</b></label>
                <input type="text" name="topic" class="newConn-text" placeholder="Topic" value="">

                <label for="lastname">Name:</label>
                <input type="text" name="name" class="newConn-text" placeholder="Name">

                <label for="email">Details:</label><br>
                <textarea rows="4" cols="50" name="details" class="newConn-text"  placeholder="Description"></textarea><br>

                <label for="password">Where:</label>
                <input type="text" name="where" class="newConn-text" placeholder="Place">

                <label for="confirmpassword">When:</label>
                <input type="date" name="date" class="newConn-text">

                <% if(data.errorMessage!=undefined && data.errorMessage.length>0) {
                            for (let index = 0; index < data.errorMessage.length; index++) {
                                var element = JSON.stringify(data.errorMessage[index].msg);
                                element = element.substr(1,element.length-2) %>
                            <h3><%=element%></h3>
                        <% }} %>

                <button type="submit" class="btnCreate">Create Connection</button>
              </div>
            </form>

          </table>

      </section>
    </main>

    <% include partials/footer.ejs %>
    <script>
      function placeholderIsSupported() {
      test = document.createElement('input');
      return ('placeholder' in test);
      }

      $(document).ready(function(){
      placeholderSupport = placeholderIsSupported() ? 'placeholder' : 'no-placeholder';
      $('html').addClass(placeholderSupport);
      });
    </script>
  </body>
</html>
